

.request {
    border: solid;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}

.requestHome {
    align-content: center;
    width: 100px;
    
    
   
    

}

.requestInfo {
    padding: 10px 0px 10px 5px;
}

ul {
    list-style-type: none;
}